.header {
	width: 100vw;
	margin-right: auto;
	margin-left: auto;
	background-color: #D12322;
}
body {
	width: fit-content;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFF;
	margin: 0px;
	padding: 0px;
	line-height: 30px;
}
.head {
	background-color: #D12322;
}
.head  a {
	font-size: 16px;
	color: #FBB100;
	text-decoration: none;
	display: block;
}
.tab1 {
	background-color: #FBB100;
	font-size: 16px;
	background-image: url(bg.jpg);
}
.tab1 h1 {
	font-weight: normal;
	font-size: 36px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	line-height: 60px;
	padding-left: 30px;
}
.tab {
	margin-top: 10px;
	margin-bottom: 10px;
}
.tab h1 {
	font-weight: normal;
	font-size: 36px;
	margin: 0px;
	padding: 0px;
}
.main {
	color: #666;
	font-size: 12px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}
.title {
	background-image: url(b.jpg);
	height: 100px;
}
.title h1 {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	line-height: 150px;
	background-position: center center;
	text-align: center;
	font-weight: normal;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 15px;
}
.main strong {
	font-size: 24px;
	font-weight: normal;
	color: #FFF;
	line-height: 50px;
}
.head a:hover {
	color: #FBB100;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FBB100;
}
.foot {
	background-color: #eeeeee;
	color: #666;
	font-family: "宋体", Arial;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.tab  a {
	color: #FFF;
	text-decoration: none;
}
.tab1 h3 {
	font-size: 24px;
	font-weight: normal;
	float: left;
}
.tab1 span {
	font-size: 36px;
}
.main h3 {
	display: flex;
	padding-left: 70px;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: normal;
	background-image: url(tit.png);
	color: #FFF;
	background-repeat: no-repeat;
	background-position: left center;
}
.animation1
{
	width: 200px;
	height: 200px;
}
.animation1:hover
{
	width: 230px;
	height: 230px;
	transition: 1s;
}
